* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
}