* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header, footer {
    background-color: #1F2937;
}
/*Header*/
header {
    display: flex;
    justify-content: space-around;
}
header h2 {
    color: #f9faf8;
    font-size: 24px;
    padding: 12px;
}
header ul {
    font-size: 18px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 22px;
}
a {
    color: #e5e7eb;
    text-decoration: none;
}
/*Wrapper*/
.wrapper {
    display: flex;
    flex-direction: column;
}
section {
    flex: 1;
    padding: 80px;
}
/* Section 1 */
.section1 {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}
.content {
    display: flex;
    gap: 20px;
    width: 80%;
}
.section1-left {
    flex: 1;
}
.section1 h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.section1 p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px 0;
}
.image-holder {
    background-color: #808080;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    background-color: #3882f6;
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    color: #f9faf8;
    font-weight: bold;
    margin-top: 12px;
}
/* Section 2*/
.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
}
.section2 h1 {
    font-size: 36px;
    font-weight: 900;
}
.box-container {
    display: flex;
    gap: 16px;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 130px;
}
.box-img {
    border: 3px solid #3882f6;
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
.box p {
    text-align: center;
}
/*Section 3*/
.section3 {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3-container {
    display: flex;
    flex-direction: column;
}
quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}
.section3 p {
    font-weight: 900;
    align-self: flex-end;
    padding: 12px;
}

/*Section 4*/
.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section4-container {
    width: 70%;
    height: auto;
    background-color: #3882f6;
    border-radius: 5px;
    color: #f9faf8;
    display: flex;
    padding: 36px;
    justify-content: center;
    gap: 25px;
}
.left h4 {
    padding-bottom: 12px;
}
.section4-container button {
    border: 1px solid #f9faf8;
    border-radius: 3px;
    flex-shrink: 0;
    margin: 16px;
    padding: 0 16px;
    
}
/* Footer */
footer {
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 36px;
}
